body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* define  variables to reuse here sabai color (scss ma break point reasubale heri halni ho) */
  --brand-color: #ff4500;
}

/* always use rem */
/* 16px = 1rem default  */
/* yo use garyo bhane html ya root select gaera font-size haru override garna lai milxa see jonas video ma pani clear xaina  */
/* tara use rem unless propeties like 1px solid black or letter spacing properties like those. */

.hero-section {
  padding: 50px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text span {
  color: var(--brand-color);
}

.hero-text p {
  font-size: 16px;
  margin-bottom: 40px;
  color: #555;
}

.selected-image-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--brand-color);
  height: 500px;
  width: 330px;
  border-radius: 100px 0 0 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

.selected-image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  padding: 50px;
}

.pizza-images {
  display: flex;
  gap: 1rem;
  padding: 20px;
}

.pizza-images img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  padding-bottom: 0.5rem;
}

.pizza-images button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.border-b {
  width: 50%;
}

.active {
  border-bottom: 2px solid var(--brand-color);
}
